/* GSAP Animations */
.fade-in {
  opacity: 1;
}

.fade-in-hero {
  opacity: 0;
  transform: translateY(40px);
}

/* Preloader Animations */
@keyframes bounce-delay {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.animate-bounce-delay-1 {
  animation: bounce-delay 1.4s infinite;
  animation-delay: -0.32s;
}

.animate-bounce-delay-2 {
  animation: bounce-delay 1.4s infinite;
  animation-delay: -0.16s;
}

.animate-bounce-delay-3 {
  animation: bounce-delay 1.4s infinite;
}
